{% extends 'Blog/base.html' %}
{% block blog_post_list %}

  <!-- Page Content -->

        <!-- Title -->
        <h1 class="mt-4">{{ article_post_page.title }}</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">{{ article_post_page.author }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{ article_post_page.pub_date }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        {{ article_post_page.content }}
        <hr>


{% endblock %}


